* {
        margin: 10;
        padding: 10;
    }

html {
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-size: 1rem;
    }

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: orange;
    margin-bottom:
    }

.nav-options {
    display:inline-block;
    margin-right: 50px;
}


#Dbutton {
    background-image:repeating-radial-gradient(#2ee8f2, #fabd39 );
    
    
}
      



p {
    border: 2px solid black;
    display:inline;
    padding:4px;
    color:red;
}

h1 {
    color:red;
    margin-top:75px;
    

}

fieldset {
    border: 3px solid black;
    padding: 2rem 0;
    border-bottom: 3px solid black;
    display:inline;
    padding: 10px;
}

label {
    color:blue;
}




@media (max-width: 1000px) {
    :root {
    background-color: grey;
    }

}

h6 {
    color:white;
}








#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
    background-image:repeating-linear-gradient(white, black, red);
  } 
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  .game-button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }